# rustic config file to use B2 storage via Apache OpenDAL
[repository]
repository = "opendal:b2" # just specify the opendal service here
password = "<rustic_passwd>"
# or
# password-file = "/home/<username>/etc/secure/rustic_passwd"

# B2 specific options
[repository.options]
# Here, we give the required b2 options, see https://opendal.apache.org/docs/rust/opendal/services/struct.B2.html
application_key_id = "my_id" # B2 application key ID. Can be also set using OPENDAL_APPLICATION_KEY_ID
application_key = "my_key" # B2 application key secret. Can be also set using OPENDAL_APPLICATION_KEY
bucket = "bucket_name" # B2 bucket name or in OPENDAL_BUCKET
bucket_id = "bucket_id" # B2 bucket ID or in OPENDAL_BUCKET_ID
# root = "/" # Set a repository root directory if not using the root directory of the bucket
