[package]
name = "rustic-rs"
version = "0.4.3-dev"
description = """
fast, encrypted, deduplicated backups powered by pure Rust
"""
authors = ["Alexander Weiss"]
edition = "2021"
license = "Apache-2.0 OR MIT"
readme = "README.md"
documentation = "https://docs.rs/rustic-rs"
repository = "https://github.com/rustic-rs/rustic"
keywords = ["backup", "restic", "deduplication", "encryption", "cli"]
categories = ["command-line-utilities"]

[[bin]]
name = "rustic"
path = "src/main.rs"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[profile.release]
strip = true

[dependencies]
# macros
anyhow = "1"
thiserror = "1"
derive_more = "0.99"
derivative = "2"
derive-getters = "0.2"
lazy_static = "1"
log = "0.4"
# parallelize
crossbeam-channel = "0.5"
rayon = "1"
#crypto
aes256ctr_poly1305aes = "0.1"
sha2 = "0.10"
rand = "0.8"
scrypt = { version = "0.10", default-features = false }
# chunker / packer
# cdc = "0.1"
integer-sqrt = "0.1"
# serialization
base64 = "0.20"
binrw = "0.11"
hex = { version = "0.4", features = ["serde"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde-aux = "4"
# other dependencies
bytes = "1"
chrono = { version = "0.4", default_features = false, features = ["clock", "serde"] }
zstd = "0.12"
enum-map = "2"
enum-map-derive = "0.11"
self_update = {version = "0.35", default-features = false, features = ["rustls", "archive-tar", "compression-flate2"] }
# local backend
walkdir = "2"
ignore = "0.4"
nix = "0.26"
filetime = "0.2"
# rest backend
reqwest = {version = "0.11", default-features = false, features = ["json", "rustls-tls", "stream", "blocking"] }
backoff = "0.4"
# rclone backend
semver = "1"
# cache
dirs = "4"
cachedir = "0.3"
# commands
clap = { version = "4", features = ["derive", "env"] }
clap_complete = "3.2.4"
directories = "4"
nom = "7"
toml = "0.7"
merge = "0.1"
serde_with = "2.2"
rpassword = "7"
bytesize = "1"
indicatif = "0.17" 
path-dedot = "3"
gethostname = "0.4"
humantime = "2"
users = "0.11"
itertools = "0.10"
simplelog = "0.12"
comfy-table = "6.1.4"
libc="0.2"

[dev-dependencies]
rstest = "0.16"
quickcheck = "1"
quickcheck_macros = "1"
