[package]
name = "rustic-rs"
version = "0.3.1-dev"
description = """
fast, encrypted, deduplicated backups powered by pure Rust
"""
authors = ["Alexander Weiss"]
edition = "2021"
license = "Apache-2.0 OR MIT"
readme = "README.md"
documentation = "https://docs.rs/rustic-rs"
repository = "https://github.com/rustic-rs/rustic"
keywords = ["backup", "restic", "deduplication", "encryption", "cli"]
categories = ["command-line-utilities"]

[[bin]]
name = "rustic"
path = "src/main.rs"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[profile.release]
strip = true

[dependencies]
# macros
async-trait = "0.1"
anyhow = "1"
ambassador = "0.2"
thiserror = "1"
derive_more = "0.99"
derivative = "2"
derive-getters = "0.2"
lazy_static = "1"
log = "0.4"
# async
tokio = { version = "1", features = ["full"] }
futures = "0.3"
#crypto
aes256ctr_poly1305aes = "0.1"
sha2 = "0.10"
rand = "0.8"
scrypt = { version = "0.10", default-features = false }
# chunker / packer
cdc = "0.1"
integer-sqrt = "0.1"
# serialization
base64 = "0.13"
binrw = "0.10"
hex = { version = "0.4", features = ["serde"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde-aux = "4"
# other dependencies
bytes = "1"
chrono = { version = "0.4", default_features = false, features = ["clock", "serde"] }

zstd = "0.11"
enum-map = "2"
enum-map-derive = "0.10"
self_update = {version = "0.32", default-features = false, features = ["rustls", "archive-tar", "compression-flate2"] }
# local backend
walkdir = "2"
ignore = "0.4"
nix = "0.25"
filetime = "0.2"
# rest backend
reqwest = {version = "0.11", default-features = false, features = ["json", "rustls-tls", "stream"] }
backoff = { version = "0.4", features = ["tokio"] }
# rclone backend
semver = "1"
# cache
dirs = "4"
cachedir = "0.3"
# commands
clap = { version = "4", features = ["derive", "env"] }
directories = "4"
toml = "0.5"
merge = "0.1"
serde_with = "2"
rpassword = "7"
prettytable-rs = {version = "0.9", default-features = false }
bytesize = "1"
indicatif = "0.17"
path-absolutize = "3"
gethostname = "0.2"
humantime = "2"
users = "0.11"
itertools = "0.10"
simplelog = "0.12"

[dev-dependencies]
rstest = "0.15"
quickcheck = "1"
quickcheck_macros = "1"
