# ! TODO: Is this reasonable? 
# name: Check release

# on:
#   workflow_dispatch:
#   push:
#     branches:
#       - "release-plz-**"


# concurrency:
#   group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
#   cancel-in-progress: true

# jobs:
#   breaking-cli:
#     name: Check breaking CLI changes
#     if: ${{ github.repository_owner == 'rustic-rs' }}
#     runs-on: ubuntu-latest

#     steps:
#       - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
#       - name: Install Rust toolchain
#         uses: dtolnay/rust-toolchain@1482605bfc5719782e1267fd0c0cc350fe7646b8 # v1
#         with:
#           toolchain: stable
#       - uses: Swatinem/rust-cache@82a92a6e8fbeee089604da2575dc567ae9ddeaab # v2
#       - name: Run Cargo Test
#         run: cargo test -F release -p rustic-rs --test completions -- --ignored
